.queue-view-column {
    margin-left: 12px;
    margin-right: 12px;
}

.floating-listview {
    background-color: unset;
}

.floating-listview row {
    background-color: unset;
}

.queue-row {
    padding: 6px;
}

.simple-gridview {
    padding: 12px;
	background-color: unset;
}

.thumbnail-box {
    border-radius: 6px;  /* 12px card radius - 6px padding for concentric rounding */
}

.sidebar {
    padding-top: 12pt;
    padding-bottom: 12pt;
    padding-left: 6pt;
    padding-right: 6pt;
    border-right: unset; /* Fixes an annoying visual quirk in dark mode at the top of the sidebar */
}

windowhandle {
	border-right: unset; /* Fixes an annoying visual quirk in dark mode at the top of the sidebar */
}


.sidebar-btn label {
    font-weight: regular;
}

.player-bar {
    border-top: 1px solid @borders;
    padding: 12pt;
}
