listview > row {
	padding: 0px;
}

.queue-view-column {
    margin-left: 12px;
    margin-right: 12px;
}

.lyrics-box > undershoot {
	background-image: none;
	border-style: none;
	box-shadow: none;
}

.radius-6 {
    border-radius: 6px;
}

.padding-12 {
    padding: 12px;
}

.padding-6 {
    padding: 6px;
}

.avatar-tag {
    padding: 3px;
    padding-right: 6px;
}

.padding-0 {
    padding: 0px;
}

.border-radius-12 {
    border-radius: 6px;
}

.border-radius-6 {
    border-radius: 6px;
}

.no-bg {
    background-color: unset;
}

.sidebar {
    padding-top: 12pt;
    padding-bottom: 12pt;
    padding-left: 6pt;
    padding-right: 6pt;
    border-right: unset; /* Fixes an annoying visual quirk in dark mode at the top of the sidebar */
}

windowhandle {
    border-right: unset; /* Fixes an annoying visual quirk in dark mode at the top of the sidebar */
}

.player-bar {
    border-top: 1px solid @borders;
    padding: 12pt;
}

/* Fixes the weirdly dark vertical edges between panes */
.light-right-edge {
	border-right: 1px solid @borders;
}

.player-pane {
    padding-left: 12px;
    padding-right: 12px;
}

/* To achieve full-window blurred background effect, we must replace the default opaque colours used
 * by the nav sidebars' backgrounds by their shade_color equivalent.
 * Only do this when blurred background is enabled AND there is a song with an album art playing. */
.no-shading overlay-split-view > .sidebar-pane {
  background: @sidebar_shade_color;
}

/* Any other widget needing to be shaded similarly to the sidebar when album art is used as background. */
.no-shading .sidebar-shade {
  background: @sidebar_shade_color;
}

.no-shading .nested-split-view > .sidebar-pane {
  background: transparent;
}

.no-shading .nested-split-view > .background {
  background: transparent;
}

.rating {
    transition: opacity 0.5s;
}

/* Theme selector styling from libpanel */
.themeselector {
  margin: 9px;
}
.themeselector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px var(--border-color);

  --light-bg: #fff;
  --dark-bg: #202020;
}

.themeselector checkbutton.follow:checked,
.themeselector checkbutton.light:checked,
.themeselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px var(--accent-bg-color);
}
.themeselector checkbutton.follow {
  background-image: linear-gradient(to bottom right, var(--light-bg) 49.99%, var(--dark-bg) 50.01%);
}
.themeselector checkbutton.light {
  background-color: var(--light-bg);
}
.themeselector checkbutton.dark {
  background-color: var(--dark-bg);
}
.themeselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}
.themeselector checkbutton radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}
